<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New Partner</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @partner.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">First: </td>
                <td class="itemValue"><input type="text" name="partner[first]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Last: </td>
                <td class="itemValue"><input type="text" name="partner[last]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Address: </td>
                <td class="itemValue"><input type="text" name="partner[address]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">City: </td>
                <td class="itemValue"><input type="text" name="partner[city]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">State: </td>
                <td class="itemValue"><input type="text" name="partner[state]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Lat: </td>
                <td class="itemValue"><input type="text" name="partner[lat]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Long: </td>
                <td class="itemValue"><input type="text" name="partner[long]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
